.popup__button {
  width: 100%;
  height: 50px;
  margin-top: 24px;
  font-size: 36px;
  color: white;
  background-color: black;
}

.popup__button_disabled {
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
  background-color: transparent;
  cursor: default;
}

.popup__button_error {
  background-color: red;
}
